<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Results</title>
</head>

<body>
    <!-- Search Bar -->
    <div class="search-bar">
        <h1> Google Books API</h1>
        <form action="/">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary" type="submit" aria-placeholder="Search" name="newSearch">New
                            Search</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <!--Search Detials-->
    <div> Total Results: <%= totalResults %> </div>
    <div id="response">Response Time: <%= resTime %> </div>
    <div> Publications Between : <%= firstPub %> and <%= lastestPub %> </div>
    <div class=""> Most Common Author: <%= commonAuthor %> </div>
    <div class="container-fluid">
        <!--results grid-->
        <div class="row border">
            <% for(var i =0; i <  items.length; i++){ %>
            <div class="col-sm-12 col-md-6 col-lg-4 book-col">

                <div class="title">
                    <%= items[i].volumeInfo.title %>
                </div>
                <% if (typeof items[i].volumeInfo.imageLinks == 'undefined'){ %>

                <div class="no-img">
                    <p class="no-img-txt">No Image Available</p>
                </div>

                <% } else { %>

                <img class="img-fluid img-thumbnail" src=" <%= items[i].volumeInfo.imageLinks.thumbnail %> " alt="">
                <% } %>


                <div class="authors">
                    Author(s): <%= items[i].volumeInfo.authors %>
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#modal<%=modalId[i]%>">
                    More
                </button>

                <!-- Modal -->
                <div class="modal fade" id="modal<%=modalId[i]%>" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Deatils</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Published: <%= items[i].volumeInfo.publishedDate %><br>
                                Description: <%= items[i].volumeInfo.description %><br>
                                <% if (typeof items[i].saleInfo.buyLink == 'undefined'){ %>

                                <p> Not Available to Purchase</p>

                                <% } else { %>
                                <button><a href=" <%= items[i].saleInfo.buyLink %> " alt="">Buy</a></button>

                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%  } %>
        </div>
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" onclick="handlePreviousBtn()">Previous</a>
                </li>
                <!--previous page #-->
                <li class="page-item"><a class="page-link" onclick="">1</a></li>
                <!--active page #-->
                <li class="page-item active">
                    <a class="page-link" href="#">2 <span class="sr-only"></span></a>
                </li>
                <!--next page #-->
                <li class="page-item"><a class="page-link" href="#">3</a></li>

                <form action="/" method="post">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <li class="page-item">
                                    <button class="page-link" id="next" type="submit">Next</button>
                                </li>
                            </div>

                        </div>
                    </div>
                </form>

            </ul>
        </nav>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="index.js"></script>
</body>
</body>

</html>